.buscador{
    width: 100%;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
  }
.nav{
    color: black;
}
#opcion{
   background-color: darkorange;
}
.image-upload>input {
    display: none;
  }